.customer-list {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(5,1fr);
  gap: 2rem;
  background-color: #E5E5E5;
  padding-top: 5rem; 
  border-radius: 1.6rem;
  gap: 2rem;
  max-height: clamp(calc(5.2rem * 2 + 1rem), calc(13rem * 2 + 2rem), calc(20rem * 2 + 3rem)); 
  overflow: hidden;
}
.costumer-total {
  border-bottom: 1px solid black;
}
.costumer-card {
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  margin-bottom: clamp(3rem, 5vw, 8rem);
  padding: 1rem;
}
.costumer-card:hover {
  transform: translateY(-5px);
}
.costumer-image img {
  width: clamp(130px, 10vw, 182px); 
  height: 100%;
  object-fit: contain; 
  overflow: hidden;
}
.costumer-image{
  width: 100%;
  height: 32px;
}
.costumersButton {
  text-align: center;
  margin-top: 2.8rem;
  margin-bottom: 10rem;
}

                                                                            /*! RESPONSIVE  768*/

@media screen and (max-width: 768px) {
  .costumer-total .gradient-heading {
    font-size: 2.4rem;
  }        
  .customer-list {
    grid-template-columns: repeat(4, 1fr); 
    padding-top: 3.2rem;
  }
  .costumer-card {
    margin-bottom: 3.2rem;
    padding: 0;
  }
  .costumer-image {
    max-width: 12.5rem; 
    height: 3rem;
    padding-inline:1rem ;
  }
  .costumersButton {
    margin-bottom: 8rem;
    margin-top: 2.4rem;
  }
  .costumer-image img {
    width: 80px;
    height: 100%;
    object-fit: contain; 
    overflow: hidden;
  }
  .costumer-image{
    width: 105px;
    height: 24px;
  }
}
                                                                            /*? Responsive 375 */

@media  screen and (max-width:375px) {
  .customer-list {
    grid-template-columns: repeat(3, 1fr); 
    max-height: calc(12 * 5.2rem + 11 * 2rem); 
    max-height: calc(12 * 2.5rem + 11 * 1rem);
    gap: 0;
  }
  .costumer-image img {
    width: 100%;
    height: 100%;
    object-fit: contain; 
    overflow: hidden;
  }
  .costumer-image{
    max-width: 100px;
    height: 21px;
  }
  .costumersButton {
    margin-bottom: 7rem;
    margin-top: 2rem;
  }
  .costumersButton .orangeBtn{
    font-size: 1.4rem;
  }
}
