                                                                                    /*? FONT  */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');                                                                                  
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap');                                                                                 
                                                                                    /*? RESET CSS  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  a{
    text-decoration: none;
  }
  li{
    list-style: none;
  }
  html{
    font-size: 62.5%;
  }
  body{
    font-family: var(--Dm_Sans);
    background-color: #F6F6F6;
  }
  ::selection{
    color: var(--Midnight_Blue);
  }
  ::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    background: orangered;
  }
  ::-webkit-scrollbar-thumb {
    background: orange;
    -webkit-border-radius: 1px;
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.75);
  }
                                                                                              /*? ROOT  */
:root{
    --PrimaryColor_1: #FF7545;
    --PrimaryColor_2:  #F37449;
    --Secondary: #E5E5E5;
    --White:#fff;
    --Linear_One: #FF3131;
    --Linear_Two: #FF914D;
    --Pale_Blue : #DEE3F7;
    --Soft_Gray: #DEDEDE;
    --Dusty_Green:#DBDED7;
    --Mist_Green :#B3CBE0;
    --Soft_Lilac:#DAD4E8;
    --Creamy_Almond:#DFD7CB;
    --Midnight_Blue:#38427C;
    --Ashy_Green:#838588;
    --Foot_Color:#373A40;
    --Black_Color:#000000;
                                                                                                      /*? FONT  */
    --Space_Font:"Space Grotesk", sans-serif;
    --Dm_Sans:"DM Sans", serif;
 }
.container {
    width: min(95%, calc(1440px - 168px)); 
    margin: 0 auto; 
  }
  .gradient-heading {
    font-family: var(--Space_Font);
    font-weight: 500;
    font-size: 2.8rem;
    line-height: 3.5rem;
    background: linear-gradient(86.17deg, #FF3131 3.14%, #FF914D 112.74%);
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    display: inline-block; 
    margin-block: 4rem;
    text-transform: uppercase;
  }
  @media (max-width:768px) {
    .gradient-heading {
        margin-top: 1.2rem;
        margin-bottom: 2.4rem;
    }
}
  
.orangeBtn{
  width: 18.5rem;
  height: 4.8rem;
  background-color:  #FF7545;
 color: #FFFFFF;
 border: none;
 outline: none;
 border-radius: .8rem;
 font-weight: 600;
 font-size: 1.6rem;
 cursor: pointer;
}
  
