
.contact-us {
  display: flex;
  justify-content: space-between;
  padding: clamp(2rem, 5vw, 3.2rem); 
  gap: clamp(4rem, 8vw, 7.6rem); 
  background: #838588;
  border-radius: 2.4rem;
  margin-bottom: clamp(8rem, 12vw, 12rem); 
}

.contact-us__left {
  flex: 1;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-us__title {
  font-size: clamp(2.5rem, 4vw, 3.6rem); 
  margin-bottom: clamp(3rem, 4vw, 4.6rem); 
  color: #FFFFFF;
  font-weight: 600;
}

.contact-us__description {
  font-size: clamp(1.6rem, 2.5vw, 2rem); 
  font-weight: 500;
  color: #FFFFFF;
  line-height: clamp(2.5rem, 4vw, 2.9rem); 
}

.contact-us__right {
  flex: 1;
  max-width: 600px;
  background-color: #FFFFFF;
  padding: 2.4rem;
  border-radius: 8px;
  margin-top: clamp(3rem, 4vw, 4rem); 
}

.contact-us__form-title {
  font-size: clamp(2.5rem, 4vw, 3.6rem); 
  margin-bottom: clamp(1rem, 2vw, 4rem); 
  color: #191919;
  font-weight: 600;
  text-align: center;
  width: 100%;
}

.contact-us__form {
  display: flex;
  flex-wrap: wrap;
  gap: clamp(1rem, 3vw, 2.4rem); 
}

.contact-us__inputs {
  display: flex;
  flex-wrap: wrap;
  gap: clamp(1rem, 2vw, 1.5rem);
  width: 100%;
}

.contact-us__input-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: clamp(0.8rem, 1vw, 1rem); 
}

.contact-us input {
  height: clamp(45px, 5vw, 53px); 
}

.contact-us__input,
.contact-us__textarea {
  width: 100%;
  padding: clamp(0.8rem, 2vw, 1rem); 
  font-weight: 500;
  font-size: clamp(1.4rem, 2vw, 1.6rem); 
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: clamp(1rem, 2vw, 1.5rem); 
  transition: border-color 0.3s ease;
  color: #838588;
}

.contact-us__input:focus,
.contact-us__textarea:focus {
  border-color: var(--PrimaryColor_1);
  outline: none;
}

.contact-us__textarea {
  height: clamp(12rem, 15vw, 14.8rem); 
  resize: none;
}

.contact-us__button {
  background-color: var(--PrimaryColor_1);
  color: #FFFFFF;
  padding: clamp(0.8rem, 2vw, 1rem); 
  border: none;
  border-radius: .8rem;
  font-weight: 600;
  font-size: clamp(1.4rem, 2vw, 1.6rem); 
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

                                                                        /*! RESPONSIVE  */
@media (max-width: 768px) {
  .contact-us {
      background-color: #F6F6F6;
      display: flex;
      justify-content: center;
      margin-bottom: 10rem;
  }

  .contact-us .contact-us__left {
      display: none;
  }
}

@media (max-width:375px) {
  .contact-us {
    margin-bottom: 8rem;
  }
  .contact-us__inputs{
    flex-direction: column;
  }
  .contact-us__form-title{
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .contact-us input{
    height: 4.5rem;
  }
  .contact-us .contact-us__input-group{
    gap: 1.2rem;
  }
  .contact-us .contact-us__textarea{
    height: 10.8rem;
  }
  .contact-us .contact-us__right{
    padding: 2rem;
  }
  .contact-us .contact-us__button{
    height: 4.2rem;
    font-size: 1.4rem;
  }
}